@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
    width: 0.25rem;
}


body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background: #057358;
}

body {
    background: url(../assets/background.png)no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
    height: 100vh;
}